.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column; /*TODO Alex why not work*/
  justify-content: center;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(0.25turn, var(--BackgroundColor60), transparent);
}