.container {
    width: 100%;

  .content {
    width: 100%;
    justify-content: center;

    .switch{
      margin: 10px 0px;
      width: 100%;
      justify-content: center;
      display: flex;
      .partyLabel{
        margin: 5px 20px;
      }
    }

    .wedding-ceremony {
      color: black;
      h3 {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .grill {
      color: black;
    }

    h4 {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
