.footer {
    flex: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: var(--DarkRed);
    color: var(--BackgroundColor);
    padding:8px 0;
}
