.nav {
  max-width: 12em;
  background: linear-gradient(
    0.25turn,
    var(--BackgroundColor),
    var(--BackgroundColor),
    var(--BackgroundColor),
    transparent
  );
}
.wrapper{
  margin: 1em 0;
}
.title {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
.list{
  padding: 0.5em;
  text-wrap: balance;
}
.controls {
  display: flex;
  input {
    width: 100%;
    background-color: var(--BackgroundColor);
    border: 0.25em solid var(--DarkRed);
    margin: 0.25em;
    font-size: 0.8em;
  }
}
.button {
  width: 100%;
  background-color: var(--DarkRed);
  border: 0.25em solid black;
  margin: 0.25em;
  color: var(--BackgroundColor);
  font-size: 0.8em;
}
.expanded {
  .nav {
    display: block;
  }
  .button{
    width: calc(100% - 0.5em);
  }
}
.collapsed {
  .nav {
    display: flex;
  }
  .button{
    height: 7em;
    width: 2em;
  }
}
